/* Хранение переменных для тем проекта */

/* ----------------------Темная тема---------------------- */
html[data-theme='dark']{
    --background-color-main: #393E41;
    --color-text: #fff;
    
}
/* Применяется как var(переменная) */

/* ----------------------Светлая тема---------------------- */
html[data-theme='light']{
    --background-color-main: #F6F7EB;
    --color-text: #42494D;
    
    }

