.header{
    display: flex;
    width: 100vw;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #42494D;
    padding-top: 5px;
    padding-left: 20px;
}

.header_left{
    width: 90%;
    height: 30px;
    left: 35px;
    top: 10px;
}

.main_header{
    
    width: 66px;
    height: 30px;
    left: 7px;
    top: 0px;

    text-decoration: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #F6F7EB;
}

.header_right{
    width: 19%;
    height: 30px;
    display: flex;
}

.dropdown{
    
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown_content{
    position: relative;
    height: 30px;
    right: 0;
}

.settings{
    
    width: 85px;
    height: 30px;
    left: 0px;
    top: 0px;
    
    text-decoration: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F6F7EB;
}

.login{
    
    width: 30%;
    height: 30px;
    top: 0px;
    
    text-decoration: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F6F7EB;
}