.header {
  display: flex;
  width: 100vw;
  height: 8vh;
  background: #42494D;
  overflow: hidden;
  font-size: 1.8vw;
  
}

/* Добавляем адаптивность для размеров экрана от 768px и выше */
@media screen and (min-width: 768px) {
  .header {
    font-size: 1.5vw;
  }
}

/* Добавляем адаптивность для размеров экрана от 480px до 767px */
@media screen and (max-width: 767px) {
  .header {
    font-size: 3vw;
  }
}

/* Добавляем адаптивность для размеров экрана до 479px */
@media screen and (max-width: 479px) {
  .header {
    font-size: 4vw;
  }
}

.header_left {
  flex: 1;
  align-self: center;
  padding-left: 2vw;
}

.main_header {
  font-family: 'Oswald';
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #F6F7EB;
}

.header_right {
  width: 19%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2vw;
}

.dropdown {
  margin: 0 2vw;
}

.dropdown_content {
  position: relative;
}

.settings,
.login {
  font-family: 'Oswald';
  line-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #F6F7EB;
}
