/* The body */
body {
    background-color: #cacaca; /* Black */
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #727272; /* Black */
    padding: 6px 8px 6px 16px;overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #c9c9c9;
    display: block;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #c9c9c9;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
main {
    margin-left: 22%;
    color: black;
    z-index: 2; /* Stay on top */
    display: block;
    padding: 20px;
}

main a {
    text-decoration: none;
    font-size: 22px;
    color: #202020;
}

main p {
    font-size: 20px;
    color: #202020;
}

main h1, h2, h3 {
    color: #424242;
}

main h4, h5, h6 {
    color: #424242;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}