.set_main{
  position: relative;
  width: 100vw;
  height: 92vh;
  background: var(--background-color-main);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.container{
  width: 70%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items:baseline;
  text-align: center;
  border: 1px solid #3F88C5;
  border-radius: 10px;
  padding: 25px;
  
}

.text{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-text);
}

.table{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items:baseline;
  text-align: center;
  border-bottom: 1px solid #3F88C5;
  padding: 10px;
}

.group{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items:baseline;
  text-align: center;
}

button{
  background-color: #42494D;
  border: 0.5px solid #3F88C5;
  border-radius: 10px;
}

.account{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  flex-direction: row;
  padding: 10px;
}