.timetable_main{
    padding: 10px;
    position: relative;
    width: 100vw;
    min-height: 98vh;
    height: auto;
    background: var(--background-color-main);
    display: flex;
}

.timetable_panel{
    box-sizing: border-box;
    position: relative;
    left: 1%;
    top: 3%;
    height: 500px;
    width: 20%;
    border: 1px solid #3F88C5;
    border-radius: 10px;
    padding: 25px;
}

p{
    color:var(--color-text);
}

label{
    color:var(--color-text);
}

.change_type_info{
    width: 12vw;
    height: 7vh;
    background: #42494D;
    border: 1px solid #3F88C5;
    border-radius: 10px;
    color: #F6F7EB;;
}

input{
    border: 1px solid #3F88C5;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.timetable_body {
    position: relative;
    left: 2%;
    top: 3%;
    z-index: 7;
    width: 85vw;
    
}

.timetable_body_wrapper {
    z-index: 7;
    max-width: 95%;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
}
.timetable_table{
    border-radius: 10px;
    border: 1px solid #3F88C5;
    position: relative;
    left: 1%;
    
}

.timetable_table_day{
    border-radius: 10px;
    border: 1px solid #3F88C5;
    position: relative;
    left: 1%;
    width: 1000px;
}

.timetable_elem{
    min-width: 18%;
    
    /* border-bottom: 1px solid #3F88C5; */
}

.th_head{
    border-bottom: 1px solid #3F88C5;
}

.timetable_elem_tr{
    border-bottom: 1px solid #3F88C5;
    margin: 3px;
    padding: 5px;
    
}
.timetable_elem_tr_in{
    background-color: #393E410D;
    border-radius: 15px;
    min-height: 200px;
}

.timetable_elem_tr_in_day{
    background-color: #393E410D;
    border-radius: 15px;
    min-height: 130px;
}

.num{
    display: flex;
    align-items:center;
    justify-content:center;
}

.lec{
    color: #393E41B2;
}

.ni{
    position: relative;
    top: 10px;

}