.login_block{
    position: relative;
    width: 100vw;
    height: 92vh;
    background: var(--background-color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container_register{
    box-sizing: border-box;

    width: 30vw;
    height: 85vh;
    

    border: 1px solid #3F88C5;
    border-radius: 10px;
    padding: 25px;
    
}
.container_login{
    box-sizing: border-box;

    width: 25vw;
    height: 60vh;
    
    
    border: 1px solid #3F88C5;
    border-radius: 10px;
    padding: 25px;
}

.text_form{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-text);
}


.form_input{
    background: #F6F7EB;
    border: 1px solid #3F88C5;
    border-radius: 10px;

    margin-bottom:10px;
}

.activ_button{
    width: 15vw;
    height: 7vh;
    margin-left:35px;
    margin-top:30px;
    background: #3F88C5;
    border-radius: 10px;
}

.registration_button{
    width: 15vw;
    height: 7vh;
    margin-left:40px;
    margin-top:30px;

    background: #42494D;
    border: 1px solid #3F88C5;
    border-radius: 10px;
}

.form_reg{
    margin-left:20px;
}
.container_or{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}